@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:wdth,wght@112.5,500&display=swap");

.missing-features-logo {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.missing-features-logo:hover {
  color: #ff4f00;
}